## Python Set
    set is a data structure which is called collection of items, in which we can represent a group of unique value as a single entity.
       set_name = {item1, item2, item3,......,item n}
    
    -> Key Characteristics of Sets
    
    1. Unordered: Items in a set do not have a defined order and cannot be accessed by index (you can't use my_set[0]).
    
    2. Unique/No Duplicates: A set automatically removes any duplicate elements; every item must be distinct.
    
    3. Unchangeable (Immutable) Items: The individual items within a set must be immutable data types (like numbers, 
       strings, or tuples). You cannot put lists or dictionaries into a set.
    
    4. Mutable: While the items inside can't be changed, you can add or remove items from the set itself.
    
    5. Indexing & Slicing not work

In [1]:
#Empty Set
var = {}
print(type(var))

<class 'dict'>

In [2]:
# perfect Empty set
var = set()
print(type(var))

<class 'set'>

In [16]:
# indexing is not Allowed in Set.
var = {10,'ani',56.7,True}
print(type(var))
print(var)

<class 'set'>
{56.7, True, 10, 'ani'}

In [4]:
# The Order of List is not mantain in set data structure
# It will show different Order in Each execution
var = {10,'ani',56.7,True,'ani'}
print(type(var))
print(var)

<class 'set'>
{56.7, True, 10, 'ani'}

In [5]:
# add () used to add the element in set
# set.add() takes exactly one argument.
var = {10,'ani',56.7,True,'ani'}
var.add("Poco")
print(var)

{True, 10, 'Poco', 56.7, 'ani'}

In [6]:
# update () method , used to insert more than one parameter 
var = {10,'ani',56.7,True,'ani'}
var.update(["Loco","Pogo"])
print(var)

{True, 10, 'Loco', 'Pogo', 56.7, 'ani'}

In [7]:
# pop () method , deletion of an element 
var = {10,'ani',56.7,True,'ani',56.7}
print(var.pop())

56.7

In [8]:
# remove() method :: delete value that is entered 
var = {10,'ani',56.7,True,'ani',56.7}
var.remove("ani")
print(var)

{56.7, True, 10}

In [9]:
# union() method :: adds the two different set 
set1 = {10,'ani',45.3,True}
set2 = {"cody","laila","beru","pacal"}
print(set1.union(set2))

{'beru', True, 'laila', 10, 45.3, 'pacal', 'cody', 'ani'}

In [10]:
# intersection() method :: get the common values in two sets
set1 = {10,'ani',45.3,True}
set2 = {"cody","laila","beru","pacal",10,"ani",45.3,True}
print(set1.intersection(set2))

{True, 10, 'ani', 45.3}

In [11]:
# difference() method :: get the different values in sets
# Get all values of "set2" that are not present in "set1"
set1 = {10,'ani',45.3,True}
set2 = {"cody","laila","beru","pacal",10,"ani",45.3,True}
print(set2.difference(set1))

{'beru', 'laila', 'pacal', 'cody'}

In [12]:
# symmetric difference() method
var = {10,'ani',45.3,True,'Cody',12,False}
var2 = {10,'ani',45.3,True,'india',17.3}
print(var.symmetric_difference(var2))

{False, 17.3, 'india', 12, 'Cody'}